mixin title(data)
    .row.title-row&attributes(attributes)
        .title-item.img-box
            img.title-img(src="/images/title1.png")
        .title-item.title1 #{data.title1}
        .title-item.title-divider
            img.title-divider-img(src="/images/title-divider.png")
        .title-item.title2 #{data.title2}