footer.footer
    .container
        .row.footer-delimiter
            .col-md-4
                .h4.footer-header 创新型IT解决方案与服务提供商
                //p.footer-desc 创新型IT解决方案与服务提供商。在大数据、人工智能和物联网应用等领域进一步发展，将为更多的行业客户提供更加专业的IT服务助力传统行业数字化转型
                p.footer-desc 凭借在移动互联网时代的IT服务能力和经验的丰富积累，如今在大数据、人工智能和物联网应用等领域进一步发展，将为更多行业客户提供更加专业的IT服务，助力传统行业的IT升级和互联网改造
            .col-md-4
            //    .h4.footer-header.text-center 关于我们
            //    .footer-desc.list-group.text-center
            //        a.list-group-item(href="#") 宽连文化
            //        a.list-group-item(href="#") 加入宽连
            //        a.list-group-item(href="#") 联系我们
            .col-md-4
                .img
                    img.img-responsive.center-block(src="/images/company-logo.png")

        .row.copyright
            .col-md-4
                span 版权所有:北京宽连十方数字技术有限公司
            .col-md-5
                span &copy;Copyright 2012 C-platform.All rights reserved
            .col-md-3
                span 京ICP备07023989号

script(type="text/javascript" src="/libs/jquery/dist/jquery.min.js")
script(type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript" src="/javascripts/index.js")