header
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                a.navbar-brand(href="/") Brand #{title}
            .collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a.dropdown-toggle(href="#") 首页
                    li
                        a 服务
                    li
                        a 行业及解决方案
                    li
                        a 合作客户
                    li
                        a 关于宽连

                form.navbar-form.navbar-left
                    .form-group
                        input(type="search" class="form-control" placeholder="Search")
                    button(type="submit" class="btn btn-default") 搜索
