.header-container {
  background-color: cadetblue;
}
#myCarousel {
  width: 100%;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img {
  width: 100%;
}

.title1-img {
  width: 32px;
}

.title1 {
  font-size: 38px;
  color: #161616;
}
.title2 {
  font-size: 38px;
  color: #999999;
  margin-left: 50px;
}

.footer {
  background-color: #26292E;
  font-size: 18px;
}
.footer .row {
  border-bottom: 18px;
}
.footer .row.footer-delimiter {
  border-bottom: 1px dashed #4e5155;
}
.footer .img img {
  width: 50px;
}
.footer-header {
  color: #ffffff;
}
.footer-desc {
  color: #a0a1aa;
}

.footer .copyright {
  color: #4e5155;
  padding: 18px 0;
}

