.title-row {
  margin-right: 0;
  margin-left: 0; }
  .title-row .title-item {
    display: inline-block;
    padding: 0;
    vertical-align: middle; }
    .title-row .title-item.img-box {
      font-size: 0;
      width: 0.3rem; }
      .title-row .title-item.img-box .title-img {
        display: block;
        width: 100%; }
    .title-row .title-item.title1 {
      font-size: 0.3rem;
      color: #161616;
      margin-left: 0.3rem; }
    .title-row .title-item.title-divider {
      padding-left: 0.3rem;
      font-size: 0; }
      .title-row .title-item.title-divider .title-divider-img {
        display: block;
        width: 0.015rem;
        height: 0.3rem; }
    .title-row .title-item.title2 {
      font-size: 0.3rem;
      color: #999999;
      margin-left: 0.3rem; }

.black-color {
  color: #161616; }

.orange-color {
  color: #f08c40; }

.blue-color {
  color: #1da6ff; }

.bold {
  font-weight: bold; }

body {
  padding-top: 85px;
  font-family: "Microsoft YaHei","SimSun",helvetica,arial; }

/*img {*/
/*transform: scale(0.78);*/
/*}*/
@media (max-width: 1170px) {
  body {
    padding-top: 131px; } }

.header-container {
  background-color: cadetblue; }

.header nav.navbar.navbar-default {
  background-color: white; }

.header .navbar-brand {
  font-size: 0;
  color: #161616;
  height: auto; }

.header .navbar-header .navbar-brand {
  margin-left: 56px; }

.navbar-brand img {
  display: inline-block;
  width: 67px; }

.navbar-brand .company-name {
  font-size: 0.3rem;
  font-weight: bold;
  margin-left: 14px;
  vertical-align: middle; }

.header .navbar-nav {
  padding-top: 15px;
  padding-left: 80px; }

.header .navbar-nav > .nav-item {
  margin-left: 30px; }

.header .navbar-nav a {
  font-size: 0.2rem;
  font-weight: bold; }

.header .navbar-nav > .nav-item-service-ctn {
  margin-left: 30px; }

.header .navbar-nav li a {
  color: #161616; }

/*
.header .navbar-nav li.active>a:hover {
  //background-color: white;
  color: $active-color;
  margin-top: 3px;
}
*/
.header .navbar-nav > li.active > a {
  color: #999;
  background-color: white; }

.header .navbar-nav > li {
  position: relative; }

/*
.header .navbar-nav>li.active::after {
  position: absolute;
  bottom: -20px;
  display: block;
  content: '';
  width: 100%;
  height: 5px;
  background-color: #3ca5fc;
}
*/
.header .dropdown-menu {
  padding-bottom: 0;
  padding-top: 0; }

.header .dropdown-menu li a {
  line-height: 40px;
  font-size: 16px; }

.header .dropdown-menu .divider {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0; }

.header .navbar-form {
  padding-top: 15px; }

.header .navbar-form .search {
  margin-left: 15px; }

.main-container {
  /*margin-top: 50px;*/ }

#myCarousel {
  width: 100%; }

#myCarousel .carousel-indicators {
  display: none; }

.carousel-inner > .item > a > img, .carousel-inner > .item > img {
  width: 100%; }

.separator-row {
  width: 100%;
  margin: 1.26rem 0 0.7818rem; }
  .separator-row img {
    display: block;
    width: 100%; }

.main-container .index-sections {
  width: 71.11%;
  /*margin-top: 50px;*/ }

.index-sections .one-section:last-child {
  padding-bottom: 1.4rem; }

.index-sections .title-row {
  margin-bottom: 50px; }

.index-sections .one-section.intro-section {
  padding: 1.4rem 0 0; }
  .index-sections .one-section.intro-section .index-intro-row {
    margin-left: 0;
    margin-right: 0; }

.index-row-1 {
  margin-left: 0;
  margin-right: 0; }
  .index-row-1 .index-link-1 {
    display: block;
    width: 100%; }
    .index-row-1 .index-link-1 .index-img-1 {
      display: block;
      width: 100%; }

.honor-desc-box {
  margin-top: 1.04rem; }
  .honor-desc-box .index-honor-row {
    display: table;
    width: 100%;
    color: #161616;
    margin-bottom: 0.8rem; }
    .honor-desc-box .index-honor-row:last-child {
      margin-bottom: 0; }
    .honor-desc-box .index-honor-row [class*="col-"] {
      float: none;
      display: table-cell;
      vertical-align: middle; }
    .honor-desc-box .index-honor-row .honor-left .title {
      padding-right: 6%;
      font-size: 0.2rem;
      font-weight: bold; }
    .honor-desc-box .index-honor-row .honor-right .desc {
      font-size: 0.16rem;
      line-height: 1.5; }

.index-sections .one-section.intro-section .index-intro-row .index-intro-link {
  display: block;
  width: 100%; }

.index-sections .one-section.intro-section .index-intro-row .index-intro-link .index-intro-img {
  width: 100%; }

.index-sections .one-section .index-service-row .index-service-link {
  display: block;
  width: 100%;
  overflow: hidden; }

.index-sections .one-section .index-service-row .index-service-link .index-service-img {
  display: block;
  width: 100%; }

.index-sections .one-section .index-industry-row .index-industry-link {
  display: block;
  width: 100%; }

.index-sections .one-section .index-industry-row .index-industry-link .index-industry-img {
  display: block;
  width: 100%; }

.index-sections .one-section .index-customers-row .index-customers-link {
  display: block;
  width: 100%; }

.index-sections .one-section .index-customers-row .index-customers-link .index-customers-img {
  display: block;
  width: 100%; }

@media (max-width: 1440px) and (min-width: 992px) {
  .index-sections .one-section.intro-section .index-intro-row .index-intro-link .index-intro-img {
    /*width: 80%;*/ }
  .index-sections .one-section .index-service-row .index-service-link .index-service-img {
    /*width: 80%;*/ }
  .index-sections .one-section .index-industry-row .index-industry-link .index-industry-img {
    /*width: 80%;*/ }
  .index-sections .one-section .index-customers-row .index-customers-link .index-customers-img {
    /*width: 80%;*/ }
  .index-sections .title-row {
    /*padding-left: 60px;*/ } }

.index-sections .one-section .thumbnail {
  margin: 0;
  padding: 0; }

.index-sections .title1-img {
  width: 35px; }

.index-sections .cate-name {
  margin-top: 20px;
  font-size: 22px;
  color: #161616; }

.footer {
  background-color: #26292E;
  padding-top: 0.5rem; }

.footer .row {
  border-bottom: 18px; }

.footer .row.footer-delimiter {
  border-bottom: 1px dashed #4e5155;
  font-size: 0.2rem; }
  .footer .row.footer-delimiter .footer-left .footer-header {
    margin-bottom: 0.4rem; }

.footer .img img {
  width: 100px; }

.footer-header {
  color: #ffffff; }

.footer-desc {
  color: #a0a1aa; }

.footer .list-group-item {
  background-color: inherit;
  border: none;
  padding: 0; }

.footer .list-group-item:hover {
  color: inherit;
  background-color: inherit; }

.footer .copyright {
  color: #4e5155;
  font-size: 0.2rem;
  padding: 18px 0; }

/*# sourceMappingURL=common.css.map */