.main-container {
    background-color: #f4f4f4;
}
.service-detail-container {
    position: relative;
    top: -20px;
    background-color: wheat;
    border-radius: 10px;
    padding: 45px;
}

.service-detail-container .service-detail-box {

}

.service-detail-container .service-detail-box .desc-box {
    margin-bottom: 49px;
}

.service-detail-container .service-detail-box .desc {
    color: #161616;
    font-size: 20px;
}

.service-detail-container .service-detail-box .img {

}

.service-detail-container .service-detail-box .row .question {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.service-detail-container .service-detail-box .row .answers {
    list-style: none;
    margin: 0;
    padding:0;
    color: #161616;
    /*-webkit-margin-before: 0;*/
    /*-webkit-margin-after: 0;*/
    /*-webkit-padding-start: 40px;*/
}
.service-detail-container .service-detail-box .row .answers .answers-item {
    font-size: 16px;
}

.service-detail-container .service-detail-box .row .product-title {
    color: #161616;
    font-size: 20px;
    padding-left: 28px;
}
.service-detail-container .service-detail-box .row .product-desc {
    color: #161616;
    font-size: 16px;
    padding-left: 28px;
}

.service-detail-container .service-detail-box .product-row {
    margin-bottom: 50px;
}

.service-detail-container .service-detail-box .product-row .col-md-6 .product-desc-box {
    border: 1px solid #999999;
    width: 400px;
}