<body>
    <!--<div class="radius-box"></div>-->
    <div class="row about_main">
        <div class="about_left col-md-7">
            <div class="about_left_con">
                <div class="about_left_con_title">
                    <p>公司概览</p>
                </div>
                <div class="about_left_con_pic">
                    <img src="/images/second/about/about_1.png"/>
                </div>
                <div class="about_left_con_infor">
                    <p>北京宽连十方数字技术有限公司是一家创新型IT解决方案与服务提供商，成立2004年
                        在北京、南京、杭州、苏州、西安、昆明等21个城市设立分支机构，相继获北极光创
                        投和亚信科技投资，为电信运营商、新媒体、家电、旅游、政务等国内众多行业以及
                        政府企事业单位提供了全面的专业化IT服务，公司取得了快速、稳健地发展，连续多
                        年入选江苏移动战略合作伙伴，并在2011年入选德勤高科技、高成长“中国50强”和
                        “亚太500强”企业。凭借在互联网+时代的服务能力和经验积累，如今在大数据、人
                        工智能和物联网应用等领域进一步发展，将为更多行业客户提供更加专业的IT服务，
                        助力传统行业的数字化转型。</p>
                </div>
            </div>


            <div class="about_left_con">
                <div class="about_left_con_title">
                    <p>发展历史</p>
                </div>
                <div class="about_left_con_pic">
                    <img src="/images/second/about/about_2.png"/>
                </div>
            </div>


            <div class="about_left_con">
                <div class="about_left_con_title">
                    <p>公司荣誉</p>
                </div>
                <div class="about_left_con_pic">
                    <img src="/images/second/about/about_3.png"/>
                </div>
                <div class="about_left_con_infor">
                    <ul class="infor_ul">
                        <li>
                            <p class="title_fs1">高新技术企业</p>
                            <span class="title_fs2">获得高新技术企业认证、软件企业认证、ICP经营许可证、SP经营许可证。</span>
                        </li>
                        <li>
                            <p class="title_fs1">行业资质</p>
                            <span class="title_fs2">拥有CMMI三级、系统集成三级、ISO9000、ISO27001等多项资质。</span>
                        </li>
                        <li>
                            <p class="title_fs1">荣誉资质</p>
                            <span class="title_fs2">获德勤高科技高成长中国50强、亚太500强企业、新华社战略合作伙伴、
中国移动战略合作伙伴、中国移动互联网业务系统产品优秀供应商。</span>
                        </li>
                        <li>
                            <p class="title_fs1">30+项软件制作权证书</p>
                            <span class="title_fs2">获30余款IT创新产品自主知识产权软件著作权证书。</span>
                        </li>
                        <li>
                            <p class="title_fs1">14年行业沉淀</p>
                            <span class="title_fs2">拥有多个行业的IT解决方案核心技术沉淀，奠定行业领先地位。</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="about_right col-md-5">
            <div class="fs-ctn">
                <div class="title_fs1">联系我们</div>
                <ul class="title_fs2">
                    <li><p>总机：010-67126565</p></li>
                    <li><p>传真：010-67118210</p></li>
                    <li><p>地址：北京市东城区夕照寺大街2号11层</p></li>
                    <li><p>邮编：100061</p></li>
                </ul>
            </div>
        </div>
    </div>
</body>