extends ../layout

block content
  #myCarousel.carousel.slide
    ol.carousel-indicators
      li.active(data-target="#myCarousel", data-slide-to="0")
      li(data-target="#myCarousel", data-slide-to="1")
      li(data-target="#myCarousel", data-slide-to="2")
    .carousel-inner(role="listbox")
      .item.active
        img(src="/images/kl.jpg")
        //.carousel-caption 第一张宽连图
      .item
        img(src="/images/kl.jpg")
        //.carousel-caption 第二张宽连图
      .item
        img(src="/images/kl.jpg")
        //.carousel-caption 第三张宽连图

  mixin onesection(info,type)
    .one-section
      .row.title-row
        .title-item.img
          img.title1-img(src="/images/title1.png")
        .title-item.title1.title-item #{info.title1}
        .title-item.title2.title-item #{info.title2}
      if type
        p haha
      if block
        block


  .container.index-sections
    +onesection({
        title1: '服务',
        title2: 'Service'
    })
      .row.index-service-row
        .col-md-4
          a.index-service-link(href="/second/service/solution")
            img.index-service-img.center-block(src='images/index/service-solution.png')
          .cate-name.text-center 解决方案
        .col-md-4
          a.index-service-link(href="/second/service/product")
            img.index-service-img.center-block(src='images/index/service-product.png')
          .cate-name.text-center 产品技术
        .col-md-4
          a.index-service-link(href="/second/service/operate")
            img.index-service-img.center-block(src='images/index/service-operate.png')
          .cate-name.text-center 运营服务
      .row.separator-row
        img.center-block(src="/images/separator.png")

    +onesection({
        title1: '行业及解决方案',
        title2: 'Industry and Solutions'
    })
      .row.index-industry-row
        a.index-industry-link(href="/second/industry")
          img.index-industry-img.center-block(src="images/index/industry.png")
      .row.separator-row
        img.center-block(src="/images/separator.png")

    +onesection({
        title1: '合作客户',
        title2: 'Cooperative customers'
    })
      .row.index-customers-row
        a.index-customers-link(href="/second/customers")
          img.index-customers-img.center-block(src="images/index/customers.png")
