style.
    body {
        background: #f4f4f4;
        color:#161616;
        font-family: "微软雅黑",helvetica,arial;
        font-size:100%;
        position: relative;
    }
    ul,p {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .transition{-moz-transition:-moz-transform .3s ease-out;-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out}
    input[type=text],input[type=password],input[type=submit],input[type=rest],input[type=button],button,textarea,select{-webkit-border-radius:0;-webkit-appearance:none;font-size:100%;padding:0px; margin:0px;}
    .title_fs1{font-size:20px;}
    .title_fs2{font-size:16px;}


    .about_main{width:90%;margin:0 auto;position: relative;z-index: 10;}
    .about_left{background:#fff;display: inline-block;padding:30px 4%;box-sizing: border-box;}
    .about_main::before {
        position: absolute;
        top: -30px;
        display: block;
        content: ' ';
        width: 58.33333333%;
        height: 30px;
        border-radius: 10px 10px 0 0;
        background-color: white;
    }
    .about_left_con{width:100%;border:1px dashed #d4d4d4;border-radius:3px;padding:0 4%;margin-bottom:50px;box-sizing: border-box;}
    .about_left_con_title{width:auto;line-height:20px;text-align:center;font-size:20px;margin:50px 0;}
    .about_left_con_pic>img{width:100%;}
    .about_left_con_infor{width:auto;line-height:35px;font-size:16px;text-align:justify;}
    .about_left_con_infor>p{margin-top:50px;}
    .infor_ul{display:block;overflow:hidden;}
    .infor_ul li{border-bottom:1px solid #ccc;padding-bottom:30px;}
    .infor_ul li:last-child{border-bottom:0;}
    .infor_ul li>p{line-height:20px;margin:30px 0;}
    .infor_ul li>span{line-height:35px;}


    .about_right{
        margin-top:40px;
        padding-left: 60px;
    }
    .about_right .fs-ctn {
        width: 80%;
        border-radius:10px;
        padding:30px 3% 30px 45px;
        background:#333;
    }
    .about_right .fs-ctn div.title_fs1{display:block;color:#fff;}
    .about_right .fs-ctn div.title_fs2 p {
        margin: 0;
        padding: 0;
    }
    .about_right .fs-ctn ul{margin-top:20px;}
    .about_right .fs-ctn ul li{color:#fff;line-height:25px;}