doctype html
html
  head
    meta(charset="utf-8")
    title= title
    include ./includes/head
    block cssconent
  body
    include ./includes/header
    main.main-container(role="main")
      block content

    include ./includes/footer